<header>
  <%= image_tag("RRMockLogo.png", :alt => "Logo Will Go Here", :class => "round") %>
  <nav class = "round">
    <ul>
      <li> <%= link_to "Home", root_path %> </li>
      <li> <%= link_to "Help", help_path %> </li>
      <li> <%= link_to "Sign In", '#' %> </li>
    </ul>
  </nav>
</header>